<br><br>
<main>
  <article class="primeraSeccion">
    <app-new-product></app-new-product>

      <section class="listProduct" >
        <div *ngFor="let item of listaProductos">
            <table class="tblProducto">
              <tr>
                <td rowspan="4" align="center" width="30%"><img class="imgList" src="{{item.imagenKake}}" alt=""></td>
              </tr>
              <tr>
                  <td><b>Usuario</b></td>
                  <td colspan="2">:{{item.user}}</td>
              </tr>
              <tr>
                <td><b>Calificación</b></td>
                <td colspan="2">:{{item.cantStars}} estrellas</td>
              </tr>
              <tr>
                <td><b>Comentario</b></td>
                <td colspan="2">:{{item.comentario}}</td>
              </tr>
              <tr>
                <td colspan="3" align="right"> <button (click)="showTask(item)">Show</button></td>
              </tr>
            </table>
        </div>
      </section>
  </article>
  <article>
    <app-detail-product *ngIf="selectedTask" [taskToShow]="selectedTask"></app-detail-product>
  </article>
</main>